body{
    margin: 0;
    text-align: center;
    font: normal 16px 'Merriweather', serif;
    display: inline-block;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50pt;
    margin: 50px auto 0 auto;
    color: #5f6346;
}
h2{
    font: normal 2.0rem 'Berkshire Swash', cursive;
    color: #5f6346;
}
h3{
    font: 20pt 'Berkshire Swash', cursive;
    color: #5f6346;
}
p{
    line-height: 2;
    width: 70;
}
.underline{
    text-decoration: underline;
}
.top-container{
   background-color: #B7B78A;
   position: relative;
   padding-top: 100px;
   height: auto;
}
.top-cloud{
    position: absolute;
    right: 20%;
    top: 50px;
    width: 15%;
}
.bottom-cloud{
    position: absolute;
    left: 20%;
    width: 15%;    
}
.mountain-img{
    width: 70%;
}
.middle-container{
    background-color: #e6e5a381;
    padding: 50px; 
}

.hobbie-row{
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: justify;
    
}
.mountainbiking-img{
    width: 25%;
    float: left;
    margin: 30px;
}
.triathlon-img{
    width: 25%;
    float: right;
    margin: 30px;
}
.hr{
    margin: 100px auto 100px auto;
    border-style: dotted none none;
    border-width: 5px;
    width: 6%;
    color: #a9af7e;
}
.bottom-container{
    background-color: #A9AF7E ;
    padding: 10px;
    color: #5f6346;
    margin: 0;
}
a{
    margin: 4px;
    background: #A9AF7E;
    background-image: -webkit-linear-gradient(top, #A9AF7E, #5f6346);
    background-image: -moz-linear-gradient(top, #A9AF7E, #5f6346);
    background-image: -ms-linear-gradient(top, #A9AF7E, #5f6346);
    background-image: -o-linear-gradient(top, #A9AF7E, #5f6346);
    background-image: linear-gradient(to bottom, #A9AF7E, #5f6346);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #e6e5a3;
    font-size: 13px;
    padding: 3px 7px 3px 7px;
    text-decoration: none;
}
a:hover{
    background: #5f6346;
    background-image: -webkit-linear-gradient(top, #5f6346, #A9AF7E);
    background-image: -moz-linear-gradient(top, #5f6346, #A9AF7E);
    background-image: -ms-linear-gradient(top, #5f6346, #A9AF7E);
    background-image: -o-linear-gradient(top, #5f6346, #A9AF7E);
    background-image: linear-gradient(to bottom, #5f6346, #A9AF7E);
    text-decoration: none;
}
a:active{
    text-decoration: underline;
    color: #5f6346;
}

